brinjal.jpg
ORANGE FRUIT RECOGNITION USING IMAGE SEGMENTATION.zip
.mp4
xyz7.jpg
xyz8.jpg
xyz12.jpg
xyz19.jpg
xyz20.jpg
xyz46.jpg
xyz69.jpg
Research Paper Original.pdf
Project Report.docx
PranshuYadav_40_B_Orange_Fruit_Recognition_Using_Image_Segmentation.pptx
PRANSHU YADAV_CSE_1018547_REPORT.pdf
output.jpg